<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Moew{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('images/favicon.svg') }}"> {% block stylesheets %}{% endblock %}{% block javascripts %}{% endblock %}
		</head>
		<body>
			{% block body %}{% endblock %}
		</body>
	</html>
